In [0]:
from pyspark.sql.types import *
from pyspark.sql import DataFrame
from functools import reduce
from pyspark.sql.functions import *
from pyspark.sql import functions as F
import os
from pyspark.sql import *
from pyspark.sql.functions import col, sum

In [0]:
dbutils.fs.rm("dbfs:/FileStore/UberPickUps/Silver_Tables/", True)

Out[2]: True

In [0]:
delta_table_path = 'dbfs:/FileStore/UberPickUps/bronze_tables/'

try:
    file_paths = dbutils.fs.ls(delta_table_path)
except AnalysisException as e:
    print(f"Error: {e}")
    file_paths = []

In [0]:
spark.conf.set("spark.databricks.delta.formatCheck.enabled", "false")

In [0]:
directory_path = "dbfs:/FileStore/UberPickUps/bronze_tables/"

file_paths = [file.path for file in dbutils.fs.ls(directory_path)]

dfs = {}

for i, file_path in enumerate(file_paths):
    if "_delta_log" in file_path:
        continue
    try:
        df = spark.read.parquet(file_path)
        
        category_names = df.select('Category').distinct().rdd.flatMap(lambda x: x).collect()
        
        for category_name in category_names:
            dfs[category_name] = df
        
    except Exception as e:
        print(f"Error reading table from {file_path}: {e}")

In [0]:
len(dfs)

Out[6]: 18

In [0]:
for table_name, df in dfs.items():
    print(f"No of rows '{df.count()}':")
    print(f"DataFrame for table '{table_name}':")
    df.show(2)

No of rows '100':
DataFrame for table 'other_American_B01362':
+----------+-----------+--------------------+--------------------+
|      DATE|       Time|     PICK_UP_ADDRESS|            Category|
+----------+-----------+--------------------+--------------------+
|07-01-2014|12:00:00 AM| 874 E 139th St M...|other_American_B0...|
|07-01-2014|12:01:00 AM| 628 E 141st St M...|other_American_B0...|
+----------+-----------+--------------------+--------------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'other_Diplo_B01196':
+----------+-----------+--------------------+------------------+
|      Date|       Time|          PU_Address|          Category|
+----------+-----------+--------------------+------------------+
|07-01-2014|12:00:00 AM| 2396 Valentine A...|other_Diplo_B01196|
|07-01-2014|12:01:00 AM| 1859 Walton Ave ...|other_Diplo_B01196|
+----------+-----------+--------------------+------------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'Uber_Jan_Feb_FOIL':
+-----------------------+----------+---------------+-----+-----------------+
|dispatching_base_number|      date|active_vehicles|trips|         Category|
+-----------------------+----------+---------------+-----+-----------------+
|                 B02512|01-01-2015|            190| 1132|Uber_Jan_Feb_FOIL|
|                 B02765|01-01-2015|            225| 1765|Uber_Jan_Feb_FOIL|
+-----------------------+----------+---------------+-----+-----------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'other_Firstclass_B01536':
+----------+-----------+--------------------+--------------------+
|      DATE|       Time|     PICK_UP_ADDRESS|            Category|
+----------+-----------+--------------------+--------------------+
|07-01-2014|12:02:00 AM| 5360 Broadway Ki...|other_Firstclass_...|
|07-01-2014|12:02:00 AM|    546 Isham St NYC|other_Firstclass_...|
+----------+-----------+--------------------+--------------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'other_Highclass_B01717':
+----------+-----------+--------------------+--------------------+
|      DATE|       Time|          PU_Address|            Category|
+----------+-----------+--------------------+--------------------+
|07-01-2014|12:00:00 AM| 2976 Marion Ave ...|other_Highclass_B...|
|07-01-2014|12:01:00 AM| 780 Grand Concou...|other_Highclass_B...|
+----------+-----------+--------------------+--------------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'other_FHV_services_jan_aug_2015':
+-----------+-------------------+------------+---------------+------------------+--------------------+
|Base_Number|          Base_Name|Pick_Up_Date|Number_of_Trips|Number_of_Vehicles|            Category|
+-----------+-------------------+------------+---------------+------------------+--------------------+
|     B00013|  LOVE CORP CAR INC|  01-01-2015|             26|                17|other_FHV_service...|
|     B00014|NY ONE CORP CAR INC|  01-01-2015|             45|                24|other_FHV_service...|
+-----------+-------------------+------------+---------------+------------------+--------------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'uber_raw_data_sep14':
+----------------+-------+--------+------+-------------------+
|       Date/Time|    Lat|     Lon|  Base|           Category|
+----------------+-------+--------+------+-------------------+
|09-01-2014 00:01|40.2201|-74.0021|B02512|uber_raw_data_sep14|
|09-01-2014 00:01|  40.75|-74.0027|B02512|uber_raw_data_sep14|
+----------------+-------+--------+------+-------------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'uber_raw_data_jul14':
+----------------+-------+--------+------+-------------------+
|       Date/Time|    Lat|     Lon|  Base|           Category|
+----------------+-------+--------+------+-------------------+
|07-01-2014 00:03|40.7586|-73.9706|B02512|uber_raw_data_jul14|
|07-01-2014 00:05|40.7605|-73.9994|B02512|uber_raw_data_jul14|
+----------------+-------+--------+------+-------------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'uber_raw_data_apr14':
+----------------+-------+--------+------+-------------------+
|       Date/Time|    Lat|     Lon|  Base|           Category|
+----------------+-------+--------+------+-------------------+
|04-01-2014 00:11| 40.769|-73.9549|B02512|uber_raw_data_apr14|
|04-01-2014 00:17|40.7267|-74.0345|B02512|uber_raw_data_apr14|
+----------------+-------+--------+------+-------------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'other_Federal_02216':
+----------+-------+--------------------+--------------------+--------------------+--------------------+---------+-------------------+
|      Date|   Time|         PU_Address2|          DO_Address|     Routing_Details|         PU_Address5|   Status|           Category|
+----------+-------+--------------------+--------------------+--------------------+--------------------+---------+-------------------+
|07-01-2014|7:15 AM|Brooklyn Museum, ...|1 Brookdale Plaza...|PU: Brooklyn Muse...|Brooklyn Museum, ...|Cancelled|other_Federal_02216|
|07-01-2014|7:30 AM|33 Robert Dr., Sh...|John F Kennedy In...|PU: 33 Robert Dr....|33 Robert Dr., Sh...|  Arrived|other_Federal_02216|
+----------+-------+--------------------+--------------------+--------------------+--------------------+---------+-------------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'uber_raw_data_aug14':
+----------------+-------+--------+------+-------------------+
|       Date/Time|    Lat|     Lon|  Base|           Category|
+----------------+-------+--------+------+-------------------+
|08-01-2014 00:03|40.7366|-73.9906|B02512|uber_raw_data_aug14|
|08-01-2014 00:09| 40.726|-73.9918|B02512|uber_raw_data_aug14|
+----------------+-------+--------+------+-------------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'uber_raw_data_janjune_15':
+--------------------+----------------+-------------------+----------+--------------------+
|Dispatching_base_num|     Pickup_date|Affiliated_base_num|locationID|            Category|
+--------------------+----------------+-------------------+----------+--------------------+
|              B02617|17-05-2015 09:47|             B02617|       141|uber_raw_data_jan...|
|              B02617|17-05-2015 09:47|             B02617|        65|uber_raw_data_jan...|
+--------------------+----------------+-------------------+----------+--------------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'uber_raw_data_may14':
+----------------+-------+--------+------+-------------------+
|       Date/Time|    Lat|     Lon|  Base|           Category|
+----------------+-------+--------+------+-------------------+
|05-01-2014 00:02|40.7521|-73.9914|B02512|uber_raw_data_may14|
|05-01-2014 00:06|40.6965|-73.9715|B02512|uber_raw_data_may14|
+----------------+-------+--------+------+-------------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'other_Lyft_B02510':
+----------------+---------+---------+-----------------+
|    time_of_trip|start_lat|start_lng|         Category|
+----------------+---------+---------+-----------------+
|09-04-2014 09:51| 40.64705|-73.77988|other_Lyft_B02510|
| 8/27/2014 21:13| 40.74916|-73.98373|other_Lyft_B02510|
+----------------+---------+---------+-----------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'uber_raw_data_jun14':
+----------------+-------+--------+------+-------------------+
|       Date/Time|    Lat|     Lon|  Base|           Category|
+----------------+-------+--------+------+-------------------+
|06-01-2014 00:00|40.7293| -73.992|B02512|uber_raw_data_jun14|
|06-01-2014 00:01|40.7131|-74.0097|B02512|uber_raw_data_jun14|
+----------------+-------+--------+------+-------------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'other_Skyline_B00111':
+----------+-------------------+--------------+----------+--------------------+
|      Date|               Time|Street_Address|City_State|            Category|
+----------+-------------------+--------------+----------+--------------------+
|07-01-2014|2024-06-03 20:27:00|  622 THIRD AV|      M   |other_Skyline_B00111|
|07-01-2014|2024-06-03 21:04:00|   E 77TH ST  |      M   |other_Skyline_B00111|
+----------+-------------------+--------------+----------+--------------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'other_Prestige_B01338':
+----------+-----------+--------------------+--------------------+
|      DATE|       Time|     PICK_UP_ADDRESS|            Category|
+----------+-----------+--------------------+--------------------+
|07-01-2014|12:00:00 AM| 2557 Marion Ave ...|other_Prestige_B0...|
|07-01-2014|12:00:00 AM| 45 E Mosholu Pkw...|other_Prestige_B0...|
+----------+-----------+--------------------+--------------------+
only showing top 2 rows

No of rows '100':
DataFrame for table 'other_Carmel_B00256':
+----------+-------------------+---------------+-------+-------------------+
|      Date|               Time|      PU_Adress|Base_No|           Category|
+----------+-------------------+---------------+-------+-------------------+
|07-01-2014|2024-06-03 00:00:00|260 W 44 St NYC| B00256|other_Carmel_B00256|
|07-01-2014|2024-06-03 00:00:00|125 W 29 St Nyc| B00256|other_Carmel_B00256|
+----------+-------------------+---------------+-------+-------------------+
only showing top 2 rows